<h2>Search Page is Here!</h2>
<!-- <p>{{vm}}</p> -->
<pre>
  {{vm | json}}
</pre>
<input type="text" class="form-control" ng-model="vm.searchText">
<button type="button" name="button" class="btn btn-primary" ng-click="vm.search(vm.searchText)">Search Movie Database</button>

<!-- Movies repeat below here -->
<div ng-repeat="movie in vm.searchResult.details">
  <hr>
  {{movie}} <button type="button" name="button" class="btn btn-primary" ng-click="vm.saveFavorite(movie)">Save Movie as Favorite</button>
</div>
